@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(226 232 240);
  --foreground: #171717;
  --secondBackground: rgb(3 105 161);
  --textColor:rgb(51 65 85);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

